:root {
    --black: #000000;
    --grey: #808080;
    --light-grey: #dfdfdf;
    --white: #FFFFFF;
    --red: #FF0000;
    --orange: #FF9900;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #8F00FF;
    --cyan: #00FFFF;
    --lime: #32CD32;

    --night: #0C0F0A;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;
    --white: #FFFFFF;
    --silver: #C3C3C2;
    --battlship-gray: #868785;
    --outer-space: #494B48;
    --jet: #2B2D29;

    --vista-blue: #7F95D1;
    --tickle-me-pink: #FF82A9;
    --melon: #FFC0BE;
    --misty-rose: #FFEBE7;

    --max-width: 1000px;

    --padding-left-and-right: 20px;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: Geologica;
    src: url("../src/assets/fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf");
}

body {
    background: var(--night);
    color: var(--white);
    font-family: Geologica;
}

.max-width {
    max-width: var(--max-width);
    margin: auto;
}

#logo-container {
    background:var(--outer-space);
    text-align: center;
    padding: 10px var(--padding-left-and-right);
    position: sticky;
    top: 0;
}

#logo {
    font-weight: bold;
}

#logo:link,
#logo:active,
#logo:visited {
    color: var(--white);
}

#logo:hover {
    text-decoration: underline;
}

header {
    display: grid;
    gap: 10px;
    text-align: center;
    padding: var(--padding-left-and-right);
}

main {
    padding: var(--padding-left-and-right);
    display: grid;
    gap: 30px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p,
ul,
ol {
    line-height: 1.5rem;
    color: var(--silver)
}

p a:link,
p a:active,
p a:visited {
    color: var(--rose);
}

p a:hover {
    text-decoration: underline;
}

label {
    font-weight: bold;
}

input,
select {
    font-family: Geologica;
    padding: 10px;
}

.label-and-input {
    display: grid;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 0px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: var(--rose);
}

#joke {
    color: var(--white);
    font-size: 1.2rem;
    line-height: 1.8rem;
}

#score-added-to-global-leaderboard,
#score-not-added-to-global-leaderboard {
    position: fixed;
    width: 100%;
    padding: 50px;
    bottom: -100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2rem;
    transition: bottom 0.2s;
}

#score-added-to-global-leaderboard {
    background: var(--lime);
}

#score-not-added-to-global-leaderboard {
    background: var(--rose);
}

/*********************** ORIGINAL ***********************/
#original #scores-numbers-and-buttons {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.current-number {
    font-size: 8rem;
}

.previous-number {
    font-size: 1.5rem;
}

#scores {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1.5rem;
    justify-content: center;
}

#submit-score {
    display: grid;
    gap: 10px;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#submit-score form {
    display: grid;
    gap: 20px;
    text-align: center;
}

#name,
#countries {
    text-align: center;
}

#countries-input {
    display: grid;
    gap: 10px;
}

#global-leaderboard {
    display: grid;
    gap: 10px;
}

#loading-scores {
    text-align: center;
}

#global-leaderboard h2 {
    text-align: center;
}

#global-leaderboard-table {
    font-size: 0.9rem;
}

#global-leaderboard-headers,
.global-leaderboard-row {
    display: grid;
    grid-template-columns: 10% 45% 30% 15%;
}

#global-leaderboard-headers {
    background: var(--jet);
    font-weight: bold;
}

#global-leaderboard-headers > div,
.global-leaderboard-row > div {
    border: 1px solid var(--jet);
    display: grid;
    text-align: center;
    align-content: center;
    padding: 3px;
    line-height: 1.3rem;
}

.global-leaderboard-column-name {
    word-wrap: break-word;
}

#global-leaderboard-first-player-message {
    text-align: center;
}
/*********************** ORIGINAL ***********************/

footer {
    display: grid;
    gap: 20px;
    padding: var(--padding-left-and-right);
    justify-items: center;
    text-align: center;
}

footer a:link,
footer a:active,
footer a:visited {
    color: var(--white);
}

footer a:hover {
    text-decoration: underline;
}

#footer-links {
    display: grid;
    gap: 20px;
}

#terms-and-conditions main,
#privacy-policy main,
#disclaimer main {
    display: grid;
    gap: 15px;
}

#copyright {
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: var(--battlship-gray)
}

@media only screen and (min-width: 600px) {
    #footer-links {
        display: flex;
        gap: 40px;
    }
}